doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    title= title
  body
    .container
      h2.display-2 Detalle Producto
      .row
        .col-md-6.offset-3
          .card.text-center
            .card-header
              h3 Mochila Xiaomi Morral / Mi Sling Bag
            .card-body
              img(src='images/img1.jpg' alt='Foto del producto')
              hr
              h4 Descripcion
              p
                | Xiaomi Mi City Sling es una mochila de hombro única, especialmente en el caso en que no necesites llevar muchas cosas contigo. La mochila de hombro Xiaomi Mi City Sling está diseñada para transportar tus dispositivos de pequeño tamaño como tablets y smartphones. Una mochila para la ciudad que tiene el forro interior de color turquesa brillante.
              hr
              h4 Precio S/60
              div
                form(action='http://localhost:3000/checkout' method='POST')
                  input(type='hidden' name='title' value='Mochila Xiaomi Morral / Mi Sling Bag')
                  input(type='hidden' name='price' value='60')
                  .d-grid.gap-2
                    input.btn.btn-primary(type='submit' value='Comprar ahora')
              br
              br
              br
