doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
    if status === 'approved'
      title Pago exitoso
    else 
      title Error al pagar 
  body
    .container.mt-5
      .card.text-center
        if status === 'approved'
          .card-header
            | Compra exitosa
          .card-body
            h5.card-title N° Orden: #{merchantOrder}
            p.card-text Su compra se ha realizado exitosamente.
            a.btn.btn-primary(href='/') Ir al inicio
        else
          .card-header
            | Compra fallida
          .card-body
            h5.card-title N° Orden: #{merchantOrder}
            p.card-text Error su compra se ha rechazado.
            a.btn.btn-primary(href='/') Ir al inicio
        //- .card-footer.text-muted
        //-   | 2 days ago